@model Online_Cinema_Domain.Models.CinemaRoom
@{
    @inject Microsoft.AspNetCore.Identity.UserManager<Online_Cinema_Domain.Models.IdentityModels.User> UserManager
    var user = await UserManager.GetUserAsync(User);
}

<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>

<style>
    .vjs-progress-holder {
        visibility: hidden;
    }

    .amp-controlbaricons-middle {
        visibility: hidden;
    }

    .vjs-control-bar {
        background-color: transparent;
    }

    .amp-content-title {
        visibility: hidden;
    }

    .amp-default-skin .vjs-controls-enabled .vjs-big-play-button {
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .cardss {
        display: grid;
        grid-template-rows: 0.2fr 5fr 1fr;
        padding: 15px;
        grid-gap: 15px;
    }
    /* Change all text and icon colors in the player. */
    .vjs-matrix.video-js {
        color: #3eaaaf;
    }

    /* Change the border of the big play button. */
    .vjs-matrix .vjs-big-play-button {
        border-color: #3eaaaf;
    }

    /* Change the color of various "bars". */

    .vjs-matrix .vjs-play-progress {
        background: #3eaaaf;
    }

    .vjs-theme-city {
        --vjs-theme-city--primary: #bf3b4d;
        --vjs-theme-city--secondary: #3eaaaf !important;
    }

    .clickOnButton {
        border: 2px solid #3eaaaf !important;
        box-shadow: 0 0 10px #3eaaaf;
    }

    .video-js .vjs-remaining-time {
        color: transparent;
        opacity: 0;
    }

    .chat-button {
        display: flex !important;
        align-items: center;
        justify-content: center;
        position: absolute !important;
        right: 5px;
    }

    .amp-controlbaricons-left {
        position: absolute !important;
        left: 5px;
    }

    .amp-controlbaricons-right {
        padding-right: 30px !important;
    }

    .vjs-volume-level {
        background: #3eaaaf !important;
    }
    .amp-default-skin .vjs-control {
        color: #3eaaaf !important;
    }
</style>


@*<video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="640" height="400" poster="poster.jpg" data-setup='{"nativeControlsForTouch": false}'>
        <source src="http://amssamples.streaming.mediaservices.windows.net/91492735-c523-432b-ba01-faba6c2206a2/AzureMediaServicesPromo.ism/manifest" type="application/vnd.ms-sstr+xml" />
        <p class="amp-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
        </p>
    </video>*@

@*vjs-matrix video-js vjs-theme-city vjs-big-play-centered*@

<input asp-for="Id" type="hidden" />
<input id="sessionId" type="hidden" />
<div class="mycontent pt-1 mb-3" id="videoDiv" style="width: 75vw;">
    <div class="row p-0 m-0" style="height: 82vh; width:100%;">
        <video id="video" class="azuremediaplayer amp-default-skin" controls autoplay style="width: 100%; height:100%" data-setup="{}">
            <source type="video/mp4" src="https://fossamultimedia1-euwe.streaming.media.azure.net/22831a79-853d-4f6e-adbc-61cc799e2246/Overwatch 2020.09.13 - 20.38.08..ism/manifest(format=mpd-time-cmaf)" />
        </video>
    </div>
    <div class="row m-3 mb-5">
        <div class="w-100">
            <img src=@String.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(Model.CinemaRoomImage)) class="clickOnButton" style=" width: 50px; height: 50px; object-fit: cover; border-radius: 50%; border:solid 2px  #3eaaaf; float:left; margin-right:10px; ">
            <h2 class="text-white">@Model.CinemaRoomName</h2>
            <div class="d-flex flex-row bd-highlight mb-3">
                <h4 class="text-white">В данный момент идёт: &nbsp; </h4>
                <h4 class="text-white" id="movieTitle"></h4>
            </div>

        </div>


    </div>

    <div class="row d-flex flex-row bd-highlight m-3 mb-5 flex-wrap">
        <input id="dateSession" type="date" class="btn clickOnButton text-white" placeholder="Поиск по дате" style="width:65%; color:white" />
        <button type="button" class="btn clickOnButton text-white" onclick="SearchByDate()">Расписание сессий</button>
    </div>

    <div class="m-3" id="listSessionsDiv"></div>
</div>
<div id="chatDiv" style=" background: #18181b; width: 25vw">
    <div class=" cardss" style="  height: 95vh!important; ">
        <div>
            <div class="d-flex flex-row justify-content-center">
                <p class="text-white" style=" overflow-wrap: break-word;">ЧАТ</p>
            </div>
        </div>
        <div class="mycontent1" id="ChatRoom" data-scroll="true" onscroll="ScrollChat(this)" style=" overflow-wrap: break-word;">

        </div>
        <div>
            <textarea class="form-control text-white" id="MessageTextarea" onkeyup="checkChatMessage()"></textarea>
            <button id="sendMessageButton" class="btn btn-dark mt-4" style="background-color: #3eaaaf; width:100%;" disabled>Чат</button>
        </div>
    </div>
    <input type="hidden" id="ChatId" value="@Model.Id" />
</div>

@*<p class="text-white">@Model.Id</p>*@

@section Scripts{
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>

    <script>
            function GetAllSessions(e) {
                $.ajax({
                    type: 'GET',
                    data: { "cinemaRoomId": $("#Id").val() },
                    url: '@Url.Content("/Movie/_ListSessions")',
                    success: function (result) {
                        $("#listSessionsDiv").html(result);
                    }
                });
                $("#ajax").val("");
            }

            function SearchByDate(e) {
                $.ajax({
                    type: 'GET',
                    data: {
                        "cinemaRoomId": $("#Id").val(),
                        "dateSession": $("#dateSession").val()
                    },
                    url: '@Url.Content("/Movie/_ListSessions")',
                    success: function (result) {
                        if (result != "") $("#listSessionsDiv").html(result);
                        else $("#listSessionsDiv").html(result);
                    }
                });
            }

        function ScrollChat(e) {
            shouldScroll = messages.scrollTop + messages.clientHeight === messages.scrollHeight;
            if (!shouldScroll) {
                $(e).attr("data-scroll", "false");
            }
            else {
                $(e).attr("data-scroll", "true");
            }
        }

        const messages = document.getElementById('ChatRoom');

        function getMessages() {
            shouldScroll = messages.scrollTop + messages.clientHeight === messages.scrollHeight;
            if (!shouldScroll && $(messages).attr("data-scroll")=="true") {
                scrollToBottom();
            }
        }

        function scrollToBottom() {
            messages.scrollTop = messages.scrollHeight;
        }

        function checkChatMessage() {
            let res = $('#MessageTextarea').val();
            if (res != 0) $('#sendMessageButton').removeAttr('disabled');
            else $('#sendMessageButton').attr('disabled', 'disabled');
        }

        $("textarea").each(function () {
            this.setAttribute("style", "height:" + (this.scrollHeight) + "px;overflow-y:hidden;");
        }).on("input", function () {

            this.style.height = "auto";
            this.style.height = (this.scrollHeight) + "px";
            if (parseInt(this.style.height) > 150) {
                this.style.height="150px"
            }
        });
            function showChat(e) {
            if ($(e).attr("data-open") == "true") {
                $("#chatDiv").attr("hidden", "hidden");
                $(e).attr("data-open", "false");
                $("#videoDiv").css("width", "100vw");
            }
            else if ($(e).attr("data-open") == "false") {
                $("#chatDiv").removeAttr("hidden");
                $(e).attr("data-open", "true");
                $("#videoDiv").css("width", "75vw");
            }
        }

        function addNewButton(data) {

            var myPlayer = data.player,
                controlBar,
                newElement = document.createElement('button'),
                newLink = document.createElement('span');

            newElement.id = data.id;
            newElement.className = 'vjs-control vjs-button chat-button';
            newElement.type = "button"

            newLink.innerHTML = "<i class='fa " + data.icon + " line-height' aria-hidden='true' style='color:#3eaaaf'></i>";
            newElement.appendChild(newLink);
            rightPanel = $(".amp-controlbaricons-right");
            controlBar = document.getElementsByClassName('vjs-control-bar')[0];

            debugger;
            insertBeforeNode = document.getElementsByClassName('vjs-fullscreen-control')[0];
            $('.vjs-control-bar').append(newElement);

            return newElement;
        }

        function addSourceToVideo(element, src, type) {
            element.innerHTML = "";
            var source = document.createElement('source');

            source.src = src;
            source.type = type;

            element.appendChild(source);
        }

        window.onload = function () {
            addNewButton({ player: "video", icon: "fas fa-comment-alt", id: "buttonChat" });
            $("#buttonChat").attr("data-open", "true");
            $("#buttonChat").on("click", function () { showChat(this); })
        };

        $(function () {


            var myplayer = videojs('video');
            myplayer.controlBar.progressControl.hide();

            var connection = new signalR.HubConnectionBuilder().withUrl("/chat").build();

            connection.on("Send", function (user, message) {
                var msg = "<p class='text-white m-0' style='overflow-wrap: break-word;' ><span style='color:#3eaaaf'>" + user + "</span>: " + message + "</p >";
                $("#ChatRoom").append(msg)
                getMessages();

            });

            @*connection.on("SendVideo", function (message) {
                if ("@user" != "Admin") {
                    var vid = self.player.currentTime();
                    if (!(vid <= (message + 2) && vid >= (message - 2))) {
                        self.player.currentTime(message);
                    }
                }
            });*@

            connection.on("GetSession", function (message) {
                $.ajax({
                    type: 'GET',
                    data: { "sessionId": message },
                    url: '@Url.Content("/Movie/GetSession")',
                    success: function (result) {
                        var res = new Date()
                        var time = (new Date() - Date.parse(result.start)) / 1000;

                        var res = $("#sessionId").val()
                        if ($("#sessionId").val() == "") {
                            self.player.src({ type: 'video/mp4', src: result.movie.moviePath });
                            self.player.currentTime(time)
                            $("#sessionId").val(result.id);
                            $("#movieTitle").text(result.movie.movieTitle);

                        }
                        var vid = self.player.currentTime();
                        if (!(vid <= (time + 1) && vid >= (time - 1))) {
                            self.player.currentTime(time);
                        }

                        //if (!(vid <= (time + 2) && vid >= (time - 2))) self.player.currentTime(time);

                    }
                });
            });




            connection.start().then(function () {
                var room = $("#ChatId").val();
                var user = '@user.UserName';
                connection.invoke("SendMessage", user, "", room, true).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
                connection.invoke("GetSession", $("#ChatId").val()).catch(function (err) {
                    return console.error(err.toString());
                });
            }).catch(function (err) {
                return console.error(err.toString());
            });

            $("#sendMessageButton").on("click", function () {
                var room = $("#ChatId").val();
                var user = '@user.UserName';
                var message = $("#MessageTextarea").val();
                connection.invoke("SendMessage", user, message, room, false).catch(function (err) {
                    return console.error(err.toString());
                });
                event.preventDefault();
                $("#MessageTextarea").val("");
                $('#sendMessageButton').attr('disabled', 'disabled');
            });

            var self = this;
            this.player = videojs('video');

            @*this.player.on('timeupdate', () => {
                if ("@user" == "Admin") {
                    var room = $("#ChatId").val();
                    connection.invoke("VideoTest", self.player.currentTime().toString(), room).catch(function (err) {
                        return console.error(err.toString());
                    });
                    event.preventDefault();
                }
            });*@

            this.player.on("ended", function () {
                $("#sessionId").val("");
                $("#movieTitle").text("");
                connection.invoke("GetSession", $("#ChatId").val()).catch(function (err) {
                    return console.error(err.toString());
                });
                if (self.player.src() !="/Movies/Background Video.mp4")
                    self.player.src({ type: 'video/mp4', src:"/Movies/Background Video.mp4" });

                self.player.play();

            });

            this.player.on("play", function () {

                connection.invoke("GetSession", $("#ChatId").val()).catch(function (err) {
                    return console.error(err.toString());
                });
            });

        })

    </script>
}